<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 10px; 
    }
    
    .grid-item {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grid-item:hover{
        background-color:#d6d6d4 ; 
        cursor: pointer;
    }
    .form-group {
        margin-bottom: 1rem;
        }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 80%;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0069d9;
    }

    .error {
        color: red;
        font-size: 0.8rem;
        margin-top: 0.25rem;
    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius:  5px 5px ;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #3e8e41;
    }

    button:focus {
        outline: none;
    }

    button:active {
        background-color: #e7e7e7;
        color: black;
    }
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        font-size: 16px;
        flex: 1;
    }
</style>
<div *ngIf="isAuthenticated" style="margin: 30px">
    <form (ngSubmit)="showForm()">
        <button type="submit">Pridėti autorių</button>
      </form>
</div>

<div style="max-width: 90%; margin: 0 auto;" *ngIf="isFormVisible">

      <form [formGroup]="authorForm" (ngSubmit)="onCreateAuthor()">
        <div class="form-group">
          <label for="full_name">Vardas pavardė</label>
          <input type="text" id="full_name" formControlName="full_name">
          <div style="color:red" *ngIf="authorForm.controls['full_name'].touched && authorForm.controls['full_name'].errors?.['required'] || authorForm.controls['full_name'].errors?.['maxlength']" class="error">Privaloma arba per ilgas vardas</div>
        </div>
        <div class="form-group">
          <label for="email">El. paštas</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="authorForm.controls['email'].touched && (authorForm.controls['email'].errors?.['email'] || authorForm.controls['email'].errors?.['maxlength'])" class="error">Neteisingas el.pašto formatas</div>
        </div>
        <div class="form-group">
          <label for="phone">Telefonas</label>
          <input type="number" id="phone" formControlName="phone">
          <div *ngIf="authorForm.controls['phone'].touched && authorForm.controls['phone'].hasError('pattern')" class="error">Telefono numeris turi būti sudarytas tik iš skaičių arba yra per ilgas</div>
        </div>
        <div class="form-group">
          <label for="born">Gimimo data</label>
          <input type="number" id="born" formControlName="born">
          <div *ngIf="authorForm.controls['born'].touched && (authorForm.controls['born'].errors?.['min'] || authorForm.controls['born'].errors?.['pattern'])" class="error">Negali but neigiamas skaičius arba per ilgas skaičius</div>
        </div>
        <div class="form-group">
          <label for="rewards">Apdovanojimai</label>
          <input type="text" id="rewards" formControlName="rewards">
          <div *ngIf="authorForm.controls['rewards'].touched && (authorForm.controls['rewards'].errors?.['maxlength'])" class="error">Per ilgas tekstas</div>
        </div>
        <div class="form-group">
          <label for="country">Šalis</label>
          <input type="text" id="country" formControlName="country">
          <div *ngIf="authorForm.controls['country'].touched && (authorForm.controls['country'].errors?.['maxlength'])" class="error">Per ilgas tekstas</div>     
        </div>
        <div class="form-group">
          <label for="number_of_books">Knygų skaičius</label>
          <input type="number" id="number_of_books" formControlName="number_of_books">
          <div *ngIf="authorForm.controls['number_of_books'].touched && (authorForm.controls['number_of_books'].errors?.['min'] || authorForm.controls['number_of_books'].errors?.['pattern'])" class="error">Negali but neigiamas knygų skaičius arba per ilgas skaičius</div>
        </div>
        <button type="submit">Pridėti</button>
      </form>
</div>




<div style="max-width: 90%; margin: 0 auto;">
    <div style="display: flex">
        <div style="margin-block-end: 30px">
            <input [(ngModel)]="searchTerm">
            <button (click)="onSearch()">Ieškoti</button>
        </div>
        <div style="margin-left: 15px;">
            <button (click)="toggleSortOrder()">{{ orderMsg }}</button>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let author of authors " (click)="onAuthor(author.id)">
            
            <h3>{{ author.full_name }}</h3>

        </div>
    </div>
</div>




