<style>
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 10px; 
    }
    .grid-item {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2%;
    }
    .grid-item:hover{
        background-color:#d6d6d4 ; 
        cursor: pointer;
    }
    .bordered_div {
        margin-top: 30px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }
    .centered_div {
        margin-top: 30px;
        text-align: center;
        padding: 20px;
        display: flex;
        
        justify-content: space-between;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius:  5px 5px ;
        cursor: pointer;
        font-size: 16px;
        align-items: center;
    }
    button:hover{
        background-color: #0069d9;
    }
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        font-size: 16px;
        flex: 1;
    }
    .form-group {
  margin-bottom: 1rem;
}

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 80%;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0069d9;
        }

    .error {
        color: red;
        font-size: 0.8rem;
        margin-top: 0.25rem;
    }

</style>

<div class="centered_div" *ngIf="isAuthenticated">
    <div >
        <button (click)="onDelete(AuthorId)">Ištrinti</button>
        <h2 class="red_text" *ngIf="message">{{ message }}</h2>
    </div>
    <div>
        <button (click)="onEdit()">Redaguoti</button>
    </div>
    
</div>

<div style="max-width: 80%; margin: 0 auto" *ngIf="EditFormVisible">
    <form [formGroup]="EditForm" (ngSubmit)="onEditSubmit()">
      <div class="form-group">
        <label for="full_name">Vardas pavardė</label>
        <input type="text" id="full_name" formControlName="full_name">
        <div style="color:red" *ngIf="EditForm.controls['full_name'].touched && EditForm.controls['full_name'].errors?.['required']" class="error">Privaloma</div>
      </div>
      <div class="form-group">
        <label for="email">El. paštas</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="EditForm.controls['email'].touched && (EditForm.controls['email'].errors?.['email'] || EditForm.controls['email'].errors?.['maxlength'])" class="error">Neteisingas el.pašto formatas</div>
      </div>
      <div class="form-group">
        <label for="phone">Telefonas</label>
        <input type="number" id="phone" formControlName="phone">
        <div *ngIf="EditForm.controls['phone'].touched && EditForm.controls['phone'].hasError('pattern')" class="error">Telefono numeris turi būti sudarytas tik iš skaičių arba yra per ilgas</div>

      </div>
      <div class="form-group">
        <label for="born">Gimimo data</label>
        <input type="number" id="born" formControlName="born">
        <div *ngIf="EditForm.controls['born'].touched && (EditForm.controls['born'].errors?.['min'] || EditForm.controls['born'].errors?.['pattern'])" class="error">Negali but neigiamas skaičius arba per ilgas skaičius</div>
      </div>
      <div class="form-group">
        <label for="rewards">Apdovanojimai</label>
        <input type="text" id="rewards" formControlName="rewards">
        <div *ngIf="EditForm.controls['rewards'].touched && (EditForm.controls['rewards'].errors?.['maxlength'])" class="error">Per ilgas tekstas</div>
      </div>
      <div class="form-group">
        <label for="country">Šalis</label>
        <input type="text" id="country" formControlName="country">     
        <div *ngIf="EditForm.controls['country'].touched && (EditForm.controls['country'].errors?.['maxlength'])" class="error">Per ilgas tekstas</div>
      </div>
      <div class="form-group">
        <label for="number_of_books">Knygų skaičius</label>
        <input type="number" id="number_of_books" formControlName="number_of_books">
        <div *ngIf="EditForm.controls['number_of_books'].touched && (EditForm.controls['number_of_books'].errors?.['min'] || EditForm.controls['number_of_books'].errors?.['pattern'])" class="error">Negali but neigiamas knygų skaičius arba per ilgas skaičius</div>
      </div>
      <button type="submit">Išsaugoti</button>
    </form>
  </div>
  


<div class="bordered_div" *ngIf="authorDetails" >
    <h3 style="text-align: center;">{{ authorDetails.full_name }}</h3>
    <p style="text-align: center;"><strong>Šalis:</strong> {{ authorDetails.country }}</p>
    <p style="text-align: center;"><strong> El. paštas: </strong> {{ authorDetails.email }}</p>
    <p style="text-align: center;"><strong> Telefonas: </strong>{{ authorDetails.phone }}</p>
    <p style="text-align: center;"><strong>Gimimo metai: </strong>{{ authorDetails.born }}</p>
    <p style="text-align: center;"><strong>Išleistų knygų skaičius: </strong>{{ authorDetails.number_of_books }}</p>
    <p style="text-align: center;"><strong>Apdovanojimai: </strong>{{ authorDetails.rewards }}</p>
</div>

<div style="margin: 0 auto; text-align: center; "><h2>Autoriaus knygos</h2></div>
<div style="max-width: 90%; margin: 0 auto;">
<div *ngIf="requestErrorMessage">{{requestErrorMessage}}</div>
<div *ngIf="showAuthorBooks" class="grid-container">
  <div class="grid-item"  *ngFor="let book of authorBooks" (click)="onBook(book.id)">

      <h3 style=" margin: 0 auto; text-align: center;">{{ book.title }}</h3>
      <p>Puslapiu skaičius: {{ book.num_of_pages }}</p>
      <p>Žanras: {{book.genre}}</p>
      <p>Išleidimo data: {{ book.release_year }}</p> 

  </div> 
</div>
</div>

<div style="margin: 30px">

</div>
